* {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.nowrap {
    white-space: nowrap;
}



.image2 {
    float: left;
    margin-right: -10px;
    margin-top: 10px;
}

.image3 {
    float: left;
    margin-right: -10px;
}

.image4 {
    float: left;
    margin-right: -10px;
    margin-top: 10px;
}

.image5 {
    float: left;
    margin-right: -10px;
}

.image6 {
    margin-top: 10px;
}