@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 20px;
  font-family: "Roboto", sans-serif;
}

.container {
  list-style:disc outside none;
  display:list-item; 
  list-style-type: upper-roman;
  font-weight: bold;
  font-size: 25px;
  padding: 0;
  margin: 10px;
}

ol {
  list-style-type: lower-roman;
  padding: -20px;
  margin: 0px;
  font-size: 20px;
  text-align: left;
  list-style-position: inside;
}


ul {
  list-style-type: lower-roman;
  padding: 0;
  width: 350px;
  font-size: 20px;
  white-space: nowrap;
}


code {
  width: 400px;
  background-color: black;
  color: green;
  font-size: small;
  padding: 0.5rem;
  float: left;
}